<div class="entry">
    <h1>{{title}}</h1>
    {{#each shows}}
        <h2><a href="{{url}}" target="_blank">{{title}}</a></h2>
        <p> {{desc}}<br>
            {{airdate_long}}</p>
    {{/each}}
</div>