<div class="entry">
    <h1>{{title}} (<a href="/fr">FR</a> / <a href="/de">DE</a>)</h1>
    {{#each shows}}
        <h2><a href="{{url}}" target="_blank">{{title}}</a> <span style="font-size: 0.7em">({{duration}}min)</span></h2>
        <p> {{desc}}<br>
            {{airdate_long}}</p>
    {{/each}}
</div>